<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/envato.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>

            <!-- <div class="elementor-element elementor-element-8d8d570 elementor-widget elementor-widget-google_maps" data-id="8d8d570" data-element_type="widget" data-widget_type="google_maps.default"> -->
            <!-- <div class="elementor-custom-embed"> <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="Engineering Lab B, Sungkyunkwan University, Suwon, Korea" aria-label="Engineering Lab B, Sungkyunkwan University, Suwon, Korea" data-src="https://maps.google.com/maps?q=Engineering%20Lab%20B%2C%20Sungkyunkwan%20University%2C%20Suwon%2C%20Korea&#038;t=m&#038;z=16&#038;output=embed&#038;iwloc=near" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div></div></div><div class="elementor-element elementor-element-9e7a54b elementor-widget elementor-widget-text-editor" data-id="9e7a54b" data-element_type="widget" data-widget_type="text-editor.default"> -->

        </div>
    </aside>