<aside class="clients">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3 col-sm-6 client-item">
                <a href="https://www.ieee.org/"><img src="img/logos/ieee.png" alt="IEEE"></a>
            </div>
            <div class="col-md-3 col-sm-6 client-item">
                <a href="https://www.ieee-ras.org/"><img src="img/logos/ras.png" alt="IEEE RAS"></a>
            </div>
            <div class="col-md-3 col-sm-6 client-item">
                <a href="https://en.robotis.com/"><img src="img/logos/robotis.png" alt="Robotis"></a>
            </div>
            <div class="col-md-3 col-sm-6 client-item">
                <a href="https://www.ros.org/"><img src="img/logos/ros.png" alt="ROS"></a>
            </div>
        </div>
    </div>
</aside>