<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 img-responsive center-block">
                    <a href="#">
                        <img src="img/logos/ieee.png" class="img-responsive center-block">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 img-responsive center-block">
                    <a href="#">
                        <img src="img/logos/ras.png" class="img-responsive center-block">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 img-responsive center-block">
                    <a href="#">
                        <img src="img/logos/robotis.png" class="img-responsive center-block">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 img-responsive center-block">
                    <a href="#">
                        <img src="img/logos/ros.png" class="img-responsive center-block">
                    </a>
                </div>
            </div>
        </div>
    </aside>