<!-- Modal para la aceptación de cookies -->
<div id="cookieModal" class="modal fade" role="dialog" style="position: fixed; bottom: 0; left: 50%; transform: translateX(-50%);">
    <div class="modal-dialog">
      <!-- Contenido del modal -->
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title">Acepta nuestras cookies</h4>
        </div>
        <div class="modal-body">
          <p>Este sitio web utiliza cookies para asegurarnos de que obtengas la mejor experiencia de usuario.</p>
        </div>
        <div class="modal-footer">
            <div class="text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!--Mostrar la ventana emergente-->
  <script>
    $(document).ready(function () {
      // Muestra el modal de cookies al cargar la página
      $('#cookieModal').modal('show');
    });
  </script>