<!-- Modal para la aceptación de cookies -->
<div id="cookieModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-bottom"> <!-- Agregamos la clase modal-bottom -->
    <!-- Contenido del modal -->
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title">Cookies</h4>
      </div>
      <div class="modal-body">
        <p>This site uses cookies to offer you a better browsing experience.</p>
      </div>
      <div class="modal-footer">
        <div class="text-center">
          <button type="button" class="btn btn-primary" data-dismiss="modal">I accept cookies</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">I refuse cookies</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Estilos CSS para posicionar el modal en la parte inferior de la pantalla -->
<style>
  .modal-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 20%;
  }
</style>

<!-- Mostrar la ventana emergente -->
<script>
  $(document).ready(function () {
    // Muestra el modal de cookies al cargar la página
    $('#cookieModal').modal('show');
  });
</script>
