<!-- Team Section -->
<section id="director">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2 class="section-heading">Head of the Laboratory</h2>
                <h2 class="section-subheading text-muted"></h2>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <img src="img/team/lab1.jpg" class="img-circle" alt="" width="350">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4>Francisco Yumbla</h4>
                <!-- <li><strong><a href="https://www.fimcp.espol.edu.ec/es/cv/yumbla-arevalo-francisco-xavier">CURRICULUM VITAE</a></strong></li> -->
                <ul class="list-inline social-buttons">
                    <li><a href="https://www.linkedin.com/in/franciscoyumbla/" target="_blank"
                            rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://www.instagram.com/FRANCISCOYUMBLA/" target="_blank"
                            rel="noopener noreferrer"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://twitter.com/franciscoyumbla" target="_blank" rel="noopener noreferrer"><i
                                class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCKUpIfFA_JDt5FEH6SxWQsA" target="_blank"
                            rel="noopener noreferrer"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="https://www.facebook.com/FRANCISCOYUMBLA/" target="_blank" rel="noopener noreferrer"><i
                                class="fa fa-facebook"></i></a></li>


                </ul>
            </div>
        </div>

        <div class="row">
            <div class="text-justify">
                <h3 class="text"></h3>
                <h3 class="section-subheading text-muted">FRANCISCO YUMBLA (Senior Member, IEEE) received his degree in Electrical Engineering with a specialty in Electronics and Industrial Automation from the Escuela Politécnica del Litoral (ESPOL), Guayaquil, Ecuador, in 2014. He obtained his Ph.D. in Mechanical Engineering in the area of ROBOTICS at Sungkyunkwan University (SKKU), South Korea, in 2021. He was a Postdoctoral researcher at the Robotics Engineering Research Center at Sungkyunkwan University. In 2022, he joined the Faculty of Mechanical Engineering and Production Sciences, ESPOL, as a Research Professor. His research interests are autonomous vehicles, manipulation of robotic arms, design of robots and manipulators, as well as Artificial Intelligence</h3>
                <h3 class="text"></h3>
            </div>
        </div>
        
        <!--Botón para mostrar mas información-->
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <a href="#directorInfo" class="btn btn-xl btn-primary " data-toggle="modal">MORE INFO</a>
                </div>
            </div>
        </div>
        <!--Ventana emergente-->
        <div class="portfolio-modal modal fade" id="directorInfo" tabindex="-1" role="dialog" aria-hidden="false">
            <div class="modal-content bg-light-gray">
                <!--Botón para cerrar el modal-->
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <!--Título del modal-->
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">Head of the Laboratory</h2>
                            <hr class="star-primary">
                            <h2 class="section-subheading text-muted"></h2>
                        </div>
                    </div>
                    <div class="col-lg-8 col-lg-offset-2 text-justify">
                        <!--Se agrega información del profesor-->
                        <h5 class="large text-muted">Studies:</h5>
                        <p class="list-group list-group-flush">
                            <li class="list-group-item">2021: Ph.D. in Engineering (Mechanical Engineering), Sungkyunkwan
                                University.</li>
                            <li class="list-group-item">2014: Ingeniería en Electricidad Especialización Electrónica y
                                Automatización Industrial, Escuela Superior Politécnica del Litoral. </li>
                        </p>
                        <h5 class="large text-muted">Academic experience:</h5>
                        <p class="list-group list-group-flush">
                            <li class="list-group-item">2022-Presente: Docente a Tiempo Completo, Escuela Superior Politécnica
                                del Litoral.</li>
                            <li class="list-group-item">2015-2017: Técnico Docente e Investigador, Escuela Superior Politécnica
                                del Litoral. </li>
                            <li class="list-group-item">2010-2013: Asistente de cátedra y Laboratorios, Escuela Superior
                                Politécnica del Litoral.</li>
                        </p>

                        <h5 class="large text-muted">Experiencia Profesional:</h5>
                        <p class="list-group list-group-flush">
                            <li class="list-group-item">2021-2022: Investigador Postdoctoral, Sungkyunkwan University.</li>
                            <li class="list-group-item">2017-2021: Investigador Doctoral, Sungkyunkwan University. </li>
                            <li class="list-group-item">2015: Programador Senior y Coordinador Eléctrico - CONTROLVIEW S.A/ROCKWELL AUTOMATION.</li>
                            <li class="list-group-item">2013 - 2014: Coordinador Eléctrico y Electrónico - MONSERLEC S.A.</li>     
                        </p>
                        
                    </div>

                    
                    <!--Botón para cerrar el modal-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="text-center">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    <i class="fa fa-times"></i>
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>