<!-- Team Section -->
    <section id="publications">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">PUBLICATIONS</h2>
                </div>
            </div>

            <!-- publicaciones -->
            <div class="row">
                <div class="col-lg-12 text-justify">
                    <h4 class="large text-muted">International Journals SCI(E):</h4>
                    <p class="list-group list-group-flush">
                        <li class="list-group-item">J. Jeon, H. ryul Jung, T. Luong, F. Yumbla, and H. Moon, “Combined task and motion planning system for the service robot using hierarchical action decomposition,” Intelligent Service Robot, vol. 15, no. 4, pp. 487–501, Sep. 2022, doi: 10.1007/S11370-022-00437-3/TABLES/1.</li>
                        <li class="list-group-item">J. Jeon, H. R. Jung, F. Yumbla, T. A. Luong, and H. Moon, “Primitive Action Based Combined Task and Motion Planning for the Service Robot,” Front Robot AI, vol. 9, p. 15, Feb. 2022, doi: 10.3389/FROBT.2022.713470/BIBTEX. </li>
                        <li class="list-group-item">J. S. Yi, F. Yumbla et al., “An Online Task-Planning Framework Using Mixed Integer Programming for Multiple Cooking Tasks Using a Dual-Arm Robot,” Applied Sciences 2022, Vol. 12, Page 4018, vol. 12, no. 8, p. 4018, Apr. 2022, doi: 10.3390/APP12084018.</li>
                        <li class="list-group-item">H. Jung, J. Jeon, F. Yumbla, and H. Moon, “Efficient Base Repositioning for Mobile Manipulation based on Inverse Reachability,” Journal of Korea Robotics Society, vol. 16, no. 4, pp. 313–318, Dec. 2021, doi: 10.7746/JKROS.2021.16.4.313.</li>
                        <li class="list-group-item">T. Luong, F. Yumbla et al., “Realization of a Simultaneous Position-Stiffness Controllable Antagonistic Joint Driven by Twisted-Coiled Polymer Actuators Using Model Predictive Control,” IEEE Access, vol. 9, pp. 26071–26082, 2021, doi: 10.1109/ACCESS.2021.3055034.</li>
                        <li class="list-group-item">M. A. Tadese, F. Yumbla, J. S. Yi, W. Lee, J. Park, and H. Moon, “Passivity Guaranteed Dynamic Friction Model with Temperature and Load Correction: Modeling and Compensation for Collaborative Industrial Robot,” IEEE Access, vol. 9, pp. 71210–71221, 2021, doi: 10.1109/ACCESS.2021.3076308.</li>       
                        <li class="list-group-item">F. Yumbla, M. Abayebas, J.-S. Yi, J. Jeon, and H. Moon, “Reposition and Alignment of Cable Connectors Using a Vibration Plate Manipulator for Wire Harness Assembly Tasks,” International Journal of Precision Engineering and Manufacturing, pp. 1–9, Mar. 2021, doi: 10.1007/s12541-021-00490-5.</li>
                        <li class="list-group-item">J.-S. Yi, F. Yumbla, E. Auh, M. Abayebas, T. A. Luong, and H. Moon, “Passive Aligning of Ribbon Cable in Sliding Surface Gripper for Assembly Task,” J Mech Robot, pp. 1–20, Oct. 2020, doi: 10.1115/1.4048915.</li>
                        <li class="list-group-item">S. Woo, F. Yumbla, C. Park, H. R. Choi, and H. Moon, “Plane-based stairway mapping for legged robot locomotion,” Industrial Robot, vol. 47, no. 4, pp. 569–580, Apr. 2020, doi: 10.1108/IR-09-2019-0189.</li>
                        <li class="list-group-item">F. Yumbla, J. S. Yi, M. Abayebas, M. Shafiyev, and H. Moon, “Tolerance dataset: mating process of plug-in cable connectors for wire harness assembly tasks,” Intelligent Service Robot, vol. 13, no. 1, pp. 159–168, Dec. 2019, doi: 10.1007/s11370-019-00307-5.</li>       
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-justify">
                    <h4 class="large text-muted">International Conference Proccedings:</h4>
                    <p class="large text-muted">
                        <li class="list-group-item">M. A. Tadese, F. Yumbla, N. Pico, and H. Moon, “Application of A Reliable Dynamic Friction Model for Accurate Dynamic Model Parameters Estimation of Robot Manipulators,” International Conference on Control, Automation and Systems, vol. 2022-November, pp. 1916–1923, 2022, doi: 10.23919/ICCAS55662.2022.10003756. </li> 
                        <li class="list-group-item">F. Yumbla et al., “Design of a Conveyor Belt Manipulator for Reposition of Boxes in Logistics Centers,” IEEE International Conference on Automation Science and Engineering, vol. 2022-August, pp. 2225–2230, 2022, doi: 10.1109/CASE49997.2022.9926479.</li> 
                        <li class="list-group-item">F. Yumbla, W. Yumbla, E. Q. Yumbla, and H. Moon, “OobSoft Gripper: A Reconfigurable Soft Gripper Using Oobleck for Versatile and Delicate Grasping,” 2022 IEEE 5th International Conference on Soft Robotics, RoboSoft 2022, pp. 512–517, 2022, doi: 10.1109/ROBOSOFT54090.2022.9762097. </li> 
                        <li class="list-group-item">J. Medrano, F. Yumbla et al., “Box segmentation, position and size estimation for robotic box handling applications,” 2022 19th International Conference on Ubiquitous Robots, UR 2022, pp. 194–199, 2022, doi: 10.1109/UR55393.2022.9826264. </li> 
                        <li class="list-group-item">F. Yumbla, S. Woo, E. Q. Yumbla, T. Luong, and H. Moon, “Motions Analysis for Stair Climbing by Two or Three Steps and cross over an obstacle for a Quadruped Robot,” in 2020 20th International Conference on Control, Automation and Systems (ICCAS), Oct. 2020, pp. 262–267. doi: 10.23919/ICCAS50221.2020.9268325.</li> 
                        <li class="list-group-item">F. Yumbla, M. Abeyabas, T. Luong, J.-S. Yi, and H. Moon, “Preliminary Connector Recognition System Based on Image Processing for Wire Harness Assembly Tasks,” in 2020 20th International Conference on Control, Automation and Systems (ICCAS), Oct. 2020, pp. 1146–1150. doi: 10.23919/ICCAS50221.2020.9268291.</li> 
                        <li class="list-group-item">J. Medrano, F. Yumbla et al., “Jerk estimation for quadrotor based on differential flatness,” in 2020 17th International Conference on Ubiquitous Robots (UR), Jun. 2020, pp. 99–104. doi: 10.1109/UR49135.2020.9144980. </li> 
                        <li class="list-group-item">F. Yumbla, E. Q. Yumbla, and H. Moon, “The Bioloid GP Robot with Different Configurations for Simulation in V-REP Controlled by the Robot Operating System (ROS),” in 2020 6th International Conference on Control, Automation and Robotics (ICCAR), Apr. 2020, pp. 54–58. doi: 10.1109/ICCAR49639.2020.9107987. Best Presentation Award.</li> 
                        <li class="list-group-item">F. Yumbla, J. S. Yi, M. Abayebas, and H. Moon, “Analysis of the mating process of plug-in cable connectors for the cable harness assembly task,” in International Conference on Control, Automation and Systems, Oct. 2019, vol. 2019-Octob, pp. 1074–1079. doi: 10.23919/ICCAS47443.2019.8971644. </li> 
                    </p>
                </div>
            </div>
        </div>
    </section>