<!-- Team Section -->
<section id="publications">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">PUBLICATIONS AND CONFERENCES</h2>
            </div>
        </div>

        <div class="container">
            <div class="row text-center">
                <div class="col-md-3 col-sm-6 img-responsive center-block">
                        <img src="img/RESUMEN.png" class="img-responsive center-block" >
                    </a>
                </div>
            </div>
        </div>

        <!--Botón para mostrar mas publicaciones-->
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <a href="https://www.researchgate.net/profile/Francisco-Yumbla" class="btn btn-xl btn-primary " data-toggle="modal">MORE INFORMATION IN RESEARCHGATE</a>
                </div>
            </div>
        </div>

    </div>
</section>