<!-- Team Section -->
    <section id="publications" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">PUBLICATIONS</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 text-center">
                    <h3 class="section-subheading text-muted">International Journals SCI(E)</h3>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-justify">
                    <p class="list-group list-group-flush">
                        <li class="list-group-item">Yumbla, F., Abayebas, M., Yi, J.-S., Jeon, J., & Moon, H. (2021). Reposition and Alignment of Cable Connectors Using a Vibration Plate Manipulator for Wire Harness Assembly Tasks. International Journal of Precision Engineering and Manufacturing, 1–9.</li>
                        <li class="list-group-item">Yumbla, F., Yi, J. S., Abayebas, M., Shafiyev, M., & Moon, H. (2019). Tolerance dataset: mating process of plug-in cable connectors for wire harness assembly tasks. Intelligent Service Robotics, 13(1), 159–168. </li>
                        <li class="list-group-item">Yi, J.-S., Yumbla, F., Auh, E., Abayebas, M., Luong, T. A., & Moon, H. (2020). Passive Aligning of Ribbon Cable in Sliding Surface Gripper for Assembly Task. Journal of Mechanisms and Robotics, 1–20.</li>
                        <li class="list-group-item">M. A. Tadese, F. Yumbla, J.-S. Yi, W. Lee, J. Park, and H. Moon, “Passivity Guaranteed Dynamic Friction Model with Temperature and Load Correction: Modeling and Compensation for Collaborative Industrial Robot,” IEEE Access, pp. 1–1, 2021.</li>
                        <li class="list-group-item">S. Woo, F. Yumbla, C. Park, H. R. Choi, and H. Moon, “Plane-based stairway mapping for legged robot locomotion,” Ind. Rob., vol. 47, no. 4, pp. 569–580, Apr. 2020.</li>
                        <li class="list-group-item">T. Luong, F. Yumbla et al., “Realization of a simultaneous position-stiffness controllable antagonistic joint driven by twisted-coiled polymer actuators using model predictive control,” IEEE Access, pp. 1–1, Jan. 2021.</li>       
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 text-center">
                    <h3 class="section-subheading text-muted">International Conference Proccedings</h3>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-justify">
                    <p class="large text-muted">
                        <li class="list-group-item">Yumbla, F., Yi, J. S., Abayebas, M., & Moon, H. (2019). Analysis of the mating process of plug-in cable connectors for the cable harness assembly task. International Conference on Control, Automation and Systems, 2019-Octob, 1074–1079. </li> 
                        <li class="list-group-item">Yumbla, F., Abeyabas, M., Luong, T., Yi, J.-S., & Moon, H. (2020). Preliminary Connector Recognition System Based on Image Processing for Wire Harness Assembly Tasks. 2020 20th International Conference on Control, Automation and Systems (ICCAS), 1146–1150.</li> 
                        <li class="list-group-item">F. Yumbla, E. Q. Yumbla, and H. Moon, “The Bioloid GP Robot with Different Configurations for Simulation in V-REP Controlled by the Robot Operating System (ROS),” in 2020 6th International Conference on Control, Automation and Robotics (ICCAR), 2020, pp. 54–58. Best Presentation Award.</li> 
                        <li class="list-group-item">F. Yumbla, S. Woo, E. Q. Yumbla, T. Luong, and H. Moon, “Motions Analysis for Stair Climbing by Two or Three Steps and cross over an obstacle for a Quadruped Robot,” in 2020 20th International Conference on Control, Automation and Systems (ICCAS), 2020, pp. 262–267. </li> 
                        <li class="list-group-item">J. Medrano , F. Yumbla et al., “Jerk estimation for quadrotor based on differential flatness,” in 2020 17th International Conference on Ubiquitous Robots (UR), 2020, pp. 99–104. </li> 
                    </p>
                </div>
            </div>
        </div>
    </section>