<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="img/RAMEL_LOGO_SMALL.png" class="img-responsive img-centered" alt="" width="200">
                </div>
                <div class="col-md-8">
                    <img src="img/RAMEL_LETTERS.png" class="img-responsive img-centered" alt="" width="500">
                    <h3 class="section-subheading text-muted">The Robotics, Automation & Mechatronics Engineering Laboratory (RAMEL) at ESPOL is a facility for graduate and undergraduate robotics research and education with an emphasis on studying novel mobile robot locomotion strategies. Our research interests are in the area of Robot Locomotion and Manipulation, Kinematics and Mechanisms, Analysis, Simulation, and Design of Mechanical Systems..</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Robots and Manipulators Design</h4>
                    <p class="text-muted">Bipedal, Quadruped Social and Educational.Manipulator desings, Tactile Sensors, Robot Hand, Grasping and Manipulation</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Robots and Manipulators Design</h4>
                    <p class="text-muted">Bipedal, Quadruped Social and Educational.Manipulator desings, Tactile Sensors, Robot Hand, Grasping and Manipulation</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Unmanned Systems</h4>
                    <p class="text-muted">Drones (UAV), Cars (UGV).</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-creative-commons fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Soft Robotics</h4>
                    <p class="text-muted">Grasping and Manipulation.</p>
                </div>
            </div>
        </div>
    </section>