<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <img src="img/RAMEL_LOGO_SMALL.png" class="img-responsive img-centered" alt="" width="200">
            </div>
            <div class="col-md-8">
                <img src="img/RAMEL_LETTERS.png" class="img-responsive img-centered" alt="" width="600">
                <h3 class="text"></h3>
                <div class="text-justify">
                    <h3 class="section-subheading text-muted">The Robotics, Automation & Mechatronics Engineering Laboratory (RAMEL) 
                        at Escuela Superior Politécnica del Litoral (ESPOL) is a facility for graduate and undergraduate robotics research and education with an emphasis on studying 
                        novel mechatronics design. Our research interests are in the area of Robot and Manipulator design, Unmanned Systems, soft robotics, machine learning, and planning and controlling robots.</h3>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-android fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Robots Design</h4>
                <p class="text-muted">Bipedal, Quadruped, or any Social and Educational Robots</p>
                <p class="text-muted">Soft Robotics</p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Robotic Manipulators </h4>
                <p class="text-muted">Manipulator designs, Tactile Sensors, Robot Hand, and Soft Manipulators</p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-automobile fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Unmanned Systems</h4>
                <p class="text-muted">Drones (UAV), Cars (UGV)</p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-reddit-alien fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Artificial Intelligence</h4>
                <p class="text-muted">Machine and Reinforcement Learning</p>
            </div>
        </div>
    </div>
</section>