<!DOCTYPE html>
<html>

{% include head.html %}


<body id="page-top" class="index">

  {% include header.html %}
  {% include services.html %}
  {% include portfolio_grid.html %}
  {% include director.html %}
  {% include team.html %}
  {% include publications.html %}
  {% include clients.html %}
  {% include contact.html %}
  {% include footer.html %}
  {% include modals.html %}
  {% include js.html %}

  <!-- Mensaje de aceptación de cookies -->
  <div id="cookieAcceptanceMessage" class="alert alert-info">
    Este sitio web utiliza cookies para mejorar la experiencia del usuario. <a href="#">Más información</a> | <a
      href="#">Configuración de cookies</a>
  </div>

  <!-- Ventana emergente de aceptación de cookies -->
  <div id="cookieModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Contenido del modal -->
      <div class="modal-content">
        <!-- Contenido del modal aquí -->
      </div>
    </div>
  </div>

</body>

</html>