<!DOCTYPE html>
<html>

{% include head.html %}


<body id="page-top" class="index">

  {% include header.html %}
  {% include services.html %}
  {% include portfolio_grid.html %}
  {% include director.html %}
  {% include team.html %}
  {% include publications.html %}
  {% include clients.html %}
  {% include contact.html %}
  {% include footer.html %}
  {% include modals.html %}
  {% include js.html %}

  {% include cookies.html %}

  <style>
    /* Estilo para hacer el contenido opaco al principio */
    body.initially-opaque {
      opacity: 0.3;
      pointer-events: none;
    }
  </style>

  <script>
    // Mostrar la ventana emergente de cookies al cargar la página
    $(document).ready(function () {
      // Hacer que el contenido sea inicialmente opaco
      $('body').addClass('initially-opaque');

      // Muestra la ventana emergente de cookies
      $('#cookieModal').modal('show');
    });

    // Función para aceptar las cookies y mostrar el contenido
    function acceptCookies() {
      // Quitar la opacidad del contenido
      $('body').removeClass('initially-opaque');
    }
  </script>

</body>

</html>